
.navChannel {
    @apply w-full mb-2 mt-2 p-1 overflow-auto h-[84vh];
}

.navChannel::-webkit-scrollbar {
    display: none;
}

.channelContainer {
    @apply flex flex-col items-center gap-4;
    box-sizing: border-box;
}

/* ChannelList */
.channelItem {
    @apply bg-surface0 w-12 h-12 text-sm font-semibold rounded-full;
    position: relative;
    transition: border-radius 128ms, background 128ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channelItem:hover {
    @apply bg-lavender cursor-pointer;
    border-radius: 36%;
    border-radius: 36%;
}

.channelItem:hover .channelName{
    opacity: 100%;
    transform: translateY(-50%) scale(1);
}

.channelItem:hover .channelIcon{
    color: var(--color-crust);
}

.channelName {
    @apply bg-crust rounded-lg;
    padding: 0.68rem 1.5rem;
    position: absolute;
    top: 50%;
    left: 155%;
    transform-origin: left;
    width: max-content;
    max-width: 256px;
    transform: translateY(-50%) scale(0.96);
    opacity: 0%;
    transition: opacity 64ms, transform 128ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}

.channelName::before {
    @apply bg-crust;
    content: '';
    position: absolute;
    transform: translateY(-50%) rotate(45deg);
    width: 24px;
    height: 24px;
    left: -4px;
    top: 50%;
    z-index: -1;
}

.channelIcon {
    color: var(--color-green);
}
