@import 'tailwindcss/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-green: #a6e3a1;
    --color-crust: #11111b;
}

@layer base {
    body {
        @apply bg-mantle text-text font-transcendence min-h-screen;
    }
}

.button-mauve {
    @apply bg-mauve hover:bg-pink cursor-pointer drop-shadow-xl rounded text-base font-bold text-sm p-2;
}

.icon {
    color: var(--color-mauve);
    border-radius: inherit;
    width: inherit;
}

.icon:hover {
    color: var(--color-pink);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: bg-red;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
