.navChannel {
    @apply mb-2 mt-2 p-1 h-full w-16 flex flex-col justify-start items-center;
    position: absolute;
    overflow-x: visible;
    overflow-y: scroll;
    width: 3vh;
    max-height: 95vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.navChannel::-webkit-scrollbar {
    display: none;
}

.channelContainer {
    @apply flex flex-col gap-4 p-1;
    box-sizing: border-box;
    position: absolute;
    pointer-events:fill;
    z-index: 2;
}

/* ChannelList */
.channelItem {
    @apply bg-surface0 w-12 h-12 text-sm font-semibold rounded-full;
    position: relative;
    transition: border-radius 128ms, background 128ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channelItem:hover {
    @apply bg-lavender cursor-pointer;
    border-radius: 36%;
    border-radius: 36%;
}

.channelItem:hover .channelIcon{
    color: var(--color-crust);
}

.channelIcon {
    color: var(--color-mauve);
    border-radius: inherit;
    width: inherit;
}
