.channelItem {
    @apply bg-surface0 w-12 h-12 text-sm font-semibold rounded-full;
    position: relative;
    transition: border-radius 128ms, background 128ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channelItem:hover {
    @apply bg-lavender cursor-pointer;
    border-radius: 36%;
    border-radius: 36%;
}

.channelItem:hover .channelIcon{
    color: var(--color-crust);
}

.channelIcon {
    color: var(--color-mauve);
    border-radius: inherit;
    width: inherit;
}
